

/*------- INDEX STYLES-------- */
* p, input, textarea, button{
  font-family: 'Heebo', sans-serif;
}
body {
  width: 90%;
  margin: 0 5%;
  height: 100%;
}
* a{
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: 'Heebo', sans-serif;
}
h5{
  font-weight: bold;
  text-transform: uppercase;
}

/*  HEADER STYLES*/

header{
  background-color:#553a3196;
  display: flex;
  justify-content: space-between;
}
.menubar span{
  display: none;
}
.nav{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  right: 0;
}
.dropdown{
  display: none;
  position: absolute;
  background: white;
  border: 1px solid black;
  padding: 5px 5px;
  margin: 10px 0 0 -20px;
  z-index: 10;
}
.has-dropdown:hover .dropdown{
  display: block;
}
.header-menu-item {
  padding: 10px 5px;
  margin: 10px 5px;
}
.menu-item>a{
  color: black;
  display: block;
}
.header-menu-item>a, .menu-item>a {
  margin: 10px;
  padding: 10px ;
}
.header-menu-item>a:hover, .menu-item>a:hover{
  background: #795548;
  color: white;
}
.nav .show{
  z-index: 10;
}

    /* BURGER */

.burger{
  display: none;
  justify-content: flex-end;
  margin: 5px;
}
.burger div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}


/* MAIN MENIU STYLES */


.main-meniu{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px 0;
  justify-content: space-around;
}
.main-meniu-item>div:hover{
  background: #795548;
  border: 0.5px solid black;
}
.main-meniu>div{
  width: 18%;
  height: 225px;
  padding: 10px;
}
.main-meniu>div>div{
  background-color: #553a3196;
  height: 100%;
  line-height: 200px;
  border: 1px solid black;
}
.main-meniu-item>div:hover{
  font-size: 30px;
  width: 110%;
  height: 110%;
  margin: -5%;
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 39px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 39px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 39px 1px rgba(0,0,0,0.75);
}
.main-meniu>div>div>a{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  line-height: 225px;
  text-align: center;
  margin-left: auto;
}


/* ABOUT SECTION STYLES */


.about {
  border: 1px solid black;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 39px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 39px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 39px 1px rgba(0,0,0,0.75);
}
.about p {
  padding: 5px;
}


/* CONTACTS SECTION STYLES */


#contacts {
  position: relative;
  z-index: -2;
}
iframe {
  margin-top: 10px;
  width: 100%;
}
.contacts-bord {
  position: absolute;
  top: 30%;
  right: 2%;
  background: white;
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 39px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 39px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 39px 1px rgba(0,0,0,0.75);
}
.contacts-bord li {
  padding: 7px;
}
.contacts-bord p {
  margin: 0;
}
.contacts-bord ul {
  padding: 5px;
}


/* MESSAGE FORM STYLES */

*#message{
  font-size: 14px;
}
#message{
  border: 1px solid black;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 39px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 39px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 39px 1px rgba(0,0,0,0.75);
}
#message input, #message textarea {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 100%;
  margin-top: 10px;
}
#message .button {
  width: 100%;
  background-color:  #553a3196;
  color: white;
  border: 1px solid black;
}
#message .button:hover{
  background-color: #795548;
}


/* FOOTER STYLES */


.footer {
  bottom: 0;
  background-color:  #553a3196;
  margin-top: 10px;
  padding: 5px 0;
  position: relative;
  height: 50px;
  text-align: right;
  right: 0;
}
i {
  color: black;
  right: 0;
  margin: 5px;
}


/* ----------------PRODUCTS STYLES------------------ */

.products{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.product-item {
  background-color: #553a3196;
  border: 1px solid black;
  width:18%;
  height: 225px;
  padding: 15px;
  margin: 10px;
  position: relative;
}
.product-item>img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  line-height: 240px;
  margin: auto auto;
  vertical-align: middle;
  border: 1px solid black;
}
.product-item h5 {
  visibility: hidden;
  background-color: #704d4091;
  position: absolute;
  bottom: 0px;
  width: 101%;
  padding: 22px 0;
  margin-left: -16.5px;
  color: white;
  z-index: 3;
  border-top:  1px solid black;
  text-align: center;
}
.product-item:hover h5{
  visibility: visible;
}
.zoom{
  top: 0;
  right:0;
  position: absolute;
}

* .issoksta {
  top:0;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  align-self: center;
  padding: inherit;
  z-index: 5;
}
.pagrindas{
  width: 100%;
  height: 100%;
  position: fixed;
  background: grey;
  z-index: -2;
  opacity: 0.75;
}
.cover{
  margin: auto;
  flex-wrap: wrap;
  margin-top: 5%;
  width: 45%;
  height: 80%;
  background-color: #795548;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  z-index: 100;
}
.issoksta img{
  display: block;
  max-width: 100%;
  max-height: 85%;
  border: 1px solid black;
  margin: auto auto;
}
.issoksta p {
  padding: 5px;
  width: 100%;
}


/* ----------------------MEDIA STYLES---------------------- */


@media screen and (max-width: 1200px) {
  .empty{
    display: none;
  }
  .main-meniu>.main-meniu-item>div:hover{
    transition: 0s;
  }
  .main-meniu>.main-meniu-item{
    width: 30%;
    padding: 5px;
    margin: 5px;
  }
  .products .product-item{
    width: 30%;
    padding: 5px;
  }
  .products .product-item h5{
    margin: 0 -5px;
  }
  .cover{
    width: 70%;
    height: 115%;
  }
  .issoksta img {
    max-height: 80%;
  }
  .product-item h5 {
    width: 100%;
  }
}
@media screen and (max-width: 1050px) {
  .products .product-item{
    width: 42%;
  }
}
@media screen and (max-width: 950px) {

  header{
    position: relative;
  }
  .menubar span{
  display: inline;
 }
  .nav{
    display: none;
    flex-wrap: wrap;
    border: 1px solid black;
  }
  .nav.show{
    display: block;
    position: absolute;
    background: white;
    top:50px;
    z-index: 4;
  }
  .dropdown{
    margin-left: -10px;
    position: static;
  }
  .has-dropdown a{
    color: black;
  }
  .burger{
    display: block;
    float: right;
  }
  .header-menu-item{
    padding: 0;
  }
  .header-menu-item.has-dropdown>a, .header-menu-item:not(:first-child)>a {
    color: black;
    display: block;
  }
  .header-menu-item>a:hover, .menu-item>a:hover{
    background: #795548;
    color: white;
  }
}

@media all and (max-width: 800px){
  .main-meniu>.main-meniu-item{
    width: 40%;
    height: 110px;
  }
  .main-meniu .main-meniu-item>div{
    line-height: 110px;
  }
  .main-meniu .main-meniu-item>div:hover{
    margin: 0 -5%;
  }
  .main-meniu .main-meniu-item>div>a{
    line-height: 80px;
  }

}
@media all and (max-width: 600px){

  .main-meniu>.main-meniu-item,.products .product-item{
    width: 80%;
    height: 110px;
  }
  .cover{
    max-width:80%;
    max-height: 70%;
  }
  .issoksta img {
    max-height: 70%;
  }
}
